<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error page</title>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0 !important;
            background-image: url('static/assets/images/page-not-found.jpg');
            background-color: antiquewhite;
            background-position: center;
        }
    </style>
</head>
<body>
    
</body>
</html>