{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- image carousel -->
<div>
    <img class="w-100" src="{% static '/assets/images/turtle-swimming-home-far.jpg' %}" alt="Image of hawksbill turtle swimming far away">
</div>

  <!-- website home information -->
<div class="container">
    <div>
        <article>
            <h1>What are Hawksbill Turtles?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </div>
    <div>
        <article>
            <h1>How together we can save the Hawksbill Turtles</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </div>
    <div>
        <article>
            <h1>Company foundations</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>
            Affliated sites
        </h1>
    </div>
    <div class="row mb-5">
        <div class="col">
            <a href="https://www.worldwildlife.org/species/hawksbill-turtle" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/wwf-logo.jpg' %}" width="250" height="250" alt="WWF World wildlife fund logo">
            </a>
        </div>
        <div class="col">
            <a href="https://www.hihawksbills.org/" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/hihawksbill-logo.jpg' %}" width="250" height="250" alt="HiHawksbill org logo">
            </a>
        </div>
        <div class="col">
            <a href="https://www.fisheries.noaa.gov/species/hawksbill-turtle" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/noaa-logo.jpg' %}" width="250" height="250" alt="NOAA National Oceanic and Atmospheric Administration logo">
            </a>
        </div>
    </div>
</div>

{%endblock%}
