{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <img id="home-image" src="{% static '/assets/images/turtle-swimming-home-far.jpg' %}" alt="Image of hawksbill turtle swimming far away">
</div>

<div class="container">
    <div>
        <article>
            <h1>What are Hawksbill Turtles?</h1>
            <p>
                Hawksbill turtles, with their unmistakable beak-shaped snout and captivating, intricately patterned 
                shells, are remarkable marine creatures that inhabit the warm waters of the Atlantic, Indian, and 
                Pacific Oceans. These critically endangered turtles are not only aesthetically unique but also ecologically 
                vital. Their specialized diet, primarily consisting of sponges, plays a pivotal role in preserving the 
                health of coral reefs by controlling sponge populations. Unfortunately, these magnificent sea turtles 
                face numerous threats, including habitat loss, pollution, accidental entanglement in fishing gear, and 
                the illicit trade of their stunning shells. Conservation efforts are crucial to ensure the survival of 
                the hawksbill turtle, as they contribute significantly to the balance and diversity of marine ecosystems, 
                making their protection a matter of utmost importance.
            </p>
        </article>
    </div>
    <div>
        <article>
            <h1>How together we can save the Hawksbill Turtles</h1>
            <p>
                With the help of you we as a collective can help save these wonderful turtles, visit our 
                <a href="{% url 'donate' %}">donate</a> page to find out more!
            </p>
        </article>
    </div>
    <div>
        <article>
            <h1>Company foundations</h1>
            <p>
                Protecting hawksbill turtles is not just a matter of safeguarding a charismatic species; it's about 
                preserving the delicate balance of our oceans. Moreover, many organizations recognize the ethical 
                responsibility to prevent the extinction of a species that is under threat due to human activities 
                such as habitat destruction and the illegal trade of their shells. By focusing on the conservation 
                of hawksbill turtles, these organizations contribute to the broader mission of sustainable and responsible 
                environmental stewardship, ensuring a healthier, more diverse marine world for future generations.
            </p>
        </article>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>
            Affliated sites
        </h1>
    </div>
    <div class="row mb-5">
        <div class="col-4">
            <a href="https://www.worldwildlife.org/species/hawksbill-turtle" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/wwf-logo.jpg' %}" width="250" height="250" alt="WWF World wildlife fund logo">
            </a>
        </div>
        <div class="col-4">
            <a href="https://www.hihawksbills.org/" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/hihawksbill-logo.jpg' %}" width="250" height="250" alt="HiHawksbill org logo">
            </a>
        </div>
        <div class="col-4">
            <a href="https://www.fisheries.noaa.gov/species/hawksbill-turtle" rel="noopener" target="_blank">
                <img src="{% static '/assets/images/noaa-logo.jpg' %}" width="250" height="250" alt="NOAA National Oceanic and Atmospheric Administration logo">
            </a>
        </div>
    </div>
</div>

{%endblock%}