{% extends "base.html"  %}
{% load static %}
{% block content %}

<h2 class="text-uppercase">Meet the turtles: </h2>
<div class="container-fluid">
    <div class="row mb-3">
	{% for turtle in turtles reversed %}
        <div class="col-sm-12 col-lg-4 h-100 border-0">
            <div class="h-50">
                <a href="{% url 'turtle_details' turtle.id %}">
                    <img class="card-img-top dashboard m-0 turtles" src="{{ turtle.image.url }}" alt="{{ turtle.name }}">
                </a>
            </div>
            <div>
                <h3 class="pb-0 mb-0 text-uppercase">{{ turtle.name }}</h3>
                <p class="pb-0 mb-5">{{ turtle.description }}</p>
            </div>
        </div>
    {% endfor %} 
    </div>
</div>

{% if user.is_staff %}
    {% if messages %}
        <div class="add-turtle-container">
            <div class="add-turtle-form">
            {% for message in messages %}
            <h2 class="text-center">{{ message }}</h2>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="add-turtle-container">
            <div class="add-turtle-form">
                <h2>Welcome a new turtle!</h2>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Name: </label>
                        </div>
                        <div class="col">{{turtle_form.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Image upload: </label>
                        </div>
                        <div class="col">{{turtle_form.image}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Turtle description: </label>
                        </div>
                        <div class="col">{{turtle_form.description}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Turtle weight: </label>
                        </div>
                        <div class="col">{{turtle_form.weight}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Turtle age: </label>
                        </div>
                        <div class="col">{{turtle_form.age}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Turtle size: </label>
                        </div>
                        <div class="col">{{turtle_form.size}}</div>
                    </div>
                    <div class="row">
                        <div class="col add-turtle d-flex justify-content-center">
                            <label">Turtle discovery date: </label>
                        </div>
                        <div class="col">{{turtle_form.discovery_date}}</div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark">Add to the family!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %} 
{% endif %} 

{%endblock%}