{% extends "base.html"  %}
{% load static %}
{% block content %}

<h1>Meet the turtles: </h1>
<div class="container-fluid">
    <div class="row">
	{% for i in turtle %}
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card h-100 border-0">
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ i.image.url }}" alt="{{ i.name }}">
                        </a>
                        <div class="card-body pb-0">
                            <h2 class="mb-0">{{i.name}}</h2>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ i.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %} 
    </div>
</div>


{% if user.is_staff %}
    <div class="add-turtle-container">
        <div class="add-turtle-form">
            <h2>Welcome a new turtle!</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Name: </label>
                    </div>
                    <div class="col add-turtle-input">{{add_turtle.name}}</div>
                </div>
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Image upload: </label>
                    </div>
                    <div class="col">{{add_turtle.image}}</div>
                </div>
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Turtle description: </label>
                    </div>
                    <div class="col add-turtle-input">{{add_turtle.description}}</div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Add to the family!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endif %} 

{%endblock%}