{% extends "base.html"  %}
{% load static %}
{% block content %}

<h2 class="text-uppercase">Meet the turtles: </h2>
<div class="container-fluid">
    <div class="row mb-3">
	{% for i in turtle %}
        <div class="col-sm-6 h-100 border-0">
            <a href="">
                <img class="card-img-top img-fluid dashboard m-0" src="{{ i.image.url }}" alt="{{ i.name }}">
            </a>
            <h2 class="card-body pb-0 mb-0 text-uppercase">{{i.name}}</h2>
            <p class="card-body pb-0 mb-5 text-center">{{ i.description }}</p>
        </div>
    {% endfor %} 
    </div>
</div>

{% if user.is_staff %}
    <div class="add-turtle-container">
        <div class="add-turtle-form">
            <h2>Welcome a new turtle!</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Name: </label>
                    </div>
                    <div class="col">{{add_turtle.name}}</div>
                </div>
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Image upload: </label>
                    </div>
                    <div class="col">{{add_turtle.image}}</div>
                </div>
                <div class="row">
                    <div class="col add-turtle d-flex justify-content-center">
                        <label">Turtle description: </label>
                    </div>
                    <div class="col">{{add_turtle.description}}</div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Add to the family!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endif %} 

{%endblock%}