{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row" id="dashboard-background">
    <div class="col-10 col-sm-6 col-lg-4" id="dashboard-details">
        <div>
            <h3>Your details...</h3>
        </div>
        <div class="ps-5">
            <h5><strong>Username:</strong> {{ user.profile.username }}</h5>
            <h5><strong>First name:</strong> {{ user.profile.first_name }}</h5>
            <h5><strong>Last name:</strong> {{ user.profile.last_name }}</h5>
            <h5><strong>Email:</strong> {{ user.profile.email }}</h5>
            <h5><strong>Total donations:</strong> </h5>
            <h5><strong>Helping the turtles since:</strong> {{ user.profile.date_created }}</h5>
        </div>
        <div class="mt-4 d-flex justify-content-center">
            <a href="{% url 'edit_profile' %}" class="btn btn-dark text-uppercase">Update details</a>
        </div>
        <div class="mt-2 d-flex justify-content-center">
            <a href="{% url 'password_reset' %}" class="btn btn-dark text-uppercase">Change password</a>
        </div>
        <div class="mt-2 d-flex justify-content-center">
            <a href="{% url 'donate' %}" class="btn btn-dark text-uppercase">Make donation!</a>
        </div>
        <div class="mt-2 d-flex justify-content-center">
            <a href="{% url 'delete' %}" class="btn btn-dark text-uppercase">Delete account</a>
        </div>
    </div>
</div>

<div class="container dashboard mt-4">
    <h3>Adopted animal:</h3>
</div>

<div class="container dashboard">
    <h3>Recent orders:</h3>
</div>

{% endblock %}