{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="dashboard-background">
    <div class="row">
        <div class="col-11 dashboard-details">
            <h3>Recent orders:</h3>
            {% for order in orders %}
            <div class="row">
                <div class="col-2">
                    Order Number:
                </div>
                <div class="col-4">
                    <p class="">{{ order.order_number }}</p>
                </div>
                <div class="col-1">
                    Order Date:
                </div>
                <div class="col-2">
                    <p class="">{{ order.date }}</p>
                </div>
                <div class="col-1">
                    Grand Total:
                </div>
                <div class="col-2">
                    <p class="">£{{ order.grand_total }}</p>
                </div>
            </div>
            {% for item in order.lineitems.all %}
                <div class="row mb-2">
                    <div class="col-12">
                        <p class="mb-0 text-start">
                            {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                            {{ item.quantity }} x £{{ item.product.price }} each
                        </p>
                    </div>
                </div>
            {% endfor %}
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}