{% extends 'base.html' %}

{% block content %}

<div class="turtle-background">
    <div class="mx-auto container container-account p-0">
        <div class="row">
            <div class="col-10 col-sm-6 dashboard-details">
                {% if user.profile.profile_picture.url is not none %}
                    <img class="profile-picture" src="{{ user.profile.profile_picture.url }}" alt="User profile picture">
                {% else %}
                    <img class="profile-picture" src="/static/assets/images/default.jpg" alt="Image of default profile picture">
                {% endif %}
            </div>
            <div class='col-10 col-sm-4 dashboard-details'>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Update profile photo here:</h2>
                    <h5>{{ form.profile_picture }}</h5>
                    <input class="btn btn-dark" type="submit" name="Update photo">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}