asgiref==3.7.2
blinker==1.6.3
click==8.1.7
cloudinary==1.36.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==3.2.21
django-crispy-forms==1.14.0
Flask==3.0.0
gunicorn==21.2.0
itsdangerous==2.1.2
Pillow==10.1.0
psycopg2==2.9.7
pytz==2023.3.post1
sqlparse==0.4.4
stripe==7.2.0
Werkzeug==3.0.1
