{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
  {% if user.is_authenticated %}
  <h2>Change password: </h2>
      {% else %} 
      <h2>Forgot password: </h2>
  {% endif %}
    <form method="post">
      {% csrf_token %}
        <div class="col-md-16 section-column text-center">
          <input class="form-control mb-2" type="email" name="email" placeholder="Email">
        </div>
      <button class="btn btn-primary btn-block m-4" type="submit">Submit</button>
    </form>
</div>
{% endblock %}