{% extends 'base.html' %}

{% block content %}

<div class="turtle-background">
  <div class="container container-account mx-auto">
      <h1 class="login-header">Change password</h1>
      <form class="col-md-12 section-column text-center" method="POST" action="">
          {% if validlink %}
          {% csrf_token %}
          <div>
              <label for="id_new_password1">New password:</label>
              <input class="form-control text-center mb-2" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
          </div>
          <div>
            <label for="id_new_password1">New password confirmation:</label>
            <input class="form-control text-center mb-2" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
          <details class="text-dark">
            <summary>
                Password criteria
                <span class="icon"></span>
            </summary>
            <p>Your password can’t be too similar to your other personal information.</p>
            <p>Your password must contain at least 8 characters.</p>
            <p>Your password can’t be a commonly used password.</p>
            <p>Your password can’t be entirely numeric.</p>
          </details>
          <div>
              <button type="submit" class="btn btn-dark btn-block m-4">Confirm</button>
          </div>
          {% for message in messages %}
              <h4>{{message}}</h4>
          {% endfor %}
          {% else %}
            <p>
              Invalid Reset Password Link
            </p>
          {% endif %}
      </form>
  </div>
</div>

{% endblock %}