{% extends 'base.html' %}
{% block content %}

<div class="container-fluid merchandise-background">
    <div class="row mb-3 pt-5 justify-content-md-center"> 
        <div class="col-12 col-md-4">
            <img class="card-img-top dashboard" id="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-6 text-center">
            <h1 class="mt-0 text-uppercase">{{ product.name }}</h1>
            <p class="pb-0 mb-5">{{ product.description }}</p>
            <hr>
            <h4 class="pb-0 mb-5">{{ product.price }}</h4>
            <hr>
            <form class="form text-center" action="{% url 'add_to_basket' product.id %}" method="POST">
                {% csrf_token %}
                    {% if product.has_sizes %}
                    <div>
                        <p><strong>Size:</strong></p>
                        <select class="form-control text-center" name="product_size" id="id_product_size">
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                    {% endif %}
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="text-center">
                        <div class="form-group w-50">
                            <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                name="quantity" value="1" min="1" max="99"
                                data-item_id="{{ product.id }}">
                        </div>
                    </div>
                    <div class="mt-2">
                        <input type="submit" class="btn btn-dark text-uppercase mt-3" value="Add to Bag">
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center mt-3"><strong>{{ message }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            <div class="mt-5 text-end">
                <a href="{% url 'merchandise' %}" class="btn btn-dark">Keep Shopping</a>
                <a href="{% url 'basket' %}" class="btn btn-dark">View basket</a>
            </div>
        </div>
    </div>
</div>

{%endblock%}