{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row mb-3">
	<!-- {% for i in turtle %} -->
        <div class="col-sm-4 h-100 border-0">
            <a href="">
                <img class="card-img-top img-fluid dashboard m-0" src="" alt="">
            </a>
            <h2 class="card-body pb-0 mb-0 text-uppercase"></h2>
            <p class="card-body pb-0 mb-5 text-center"></p>
        </div>
    <!-- {% endfor %}  -->
    </div>
</div>

{%endblock%}