{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row mb-3 pt-5 justify-content-md-center"> 
        <div class="col-12 col-md-4">
            <img class="card-img-top dashboard" id="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-6 text-center">
            <h1 class="mt-0 text-uppercase">{{ product.name }}</h1>
            <p class="pb-0 mb-5">{{ product.description }}</p>
            <hr>
            <h4 class="pb-0 mb-5">{{ product.price }}</h4>
            <hr>
        </div>
    </div>
</div>

{%endblock%}