/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

/* General styling */
body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: #FFFCF1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    text-align: center;
    margin:1em;
}

strong {
    text-transform: uppercase;
    font-weight: bolder;
}

.text-colour {
    color: black;
}

/* Nav bar */
.navbar {
    background-color: #5F9EA0 !important;
}

.nav-link {
    font-size: 1.5em;
}

.navbar-brand {
    padding-left: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    width: 100%;
    background-color: #5F9EA0;
    margin-top: auto;
    padding: 3rem !important;
}

/* Footer email address background */
.form-control {
    background-color: transparent;
    border: black 1px solid;
}

/* Homepage image */
#home-image {
    width: 100%!important;
    height: 70vh;
    object-fit: cover;
}

/* Link styling */
a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Styling for Turtles pages  */
.add-turtle-container {
    width:100%;
    background-color: #8FBC8F;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.add-turtle-form {
    padding: 1.5em;
    padding-bottom: 3em;
}

.add-turtle {
    padding: 10px;
}

/* Styling for merchandise pages */
.merchandise-background {
    background-image: url("/static/assets/images/turtles-swimming.jpg");
    width: 100vw;
    margin: 0;
    height: auto;
    overflow: hidden;
    background-size:cover;
    background-position: center;
}

#product-image {
    max-height: 80vh;
    object-fit: cover;
}

.container-account {
    height: 800px;
    padding: 3em 6em;
}

/* Checkout basket */
.basket-image {
    max-width: 7em;
    max-height: 7em;
}

/* Background image for user registration/log  */
.turtle-background {
    background-image: url("/static/assets/images/turtle-swimming-background.jpg");
    margin: 0;
    height: 800px;
    overflow: hidden;
    background-size:cover;
    background-position: center;
}

/* Styling for user dashboard pages */
.dashboard {
    border-radius: 5px;
    margin-bottom: 2em;
    text-align: center;
}

.dashboard:hover {
    box-shadow: 10px 10px 8px rgb(75, 75, 75);
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-details {
    padding: 10px;
    margin: 40px;
    background: rgb(255, 252, 241, 0.6);
    border-radius: 10px;
}

#dashboard-background {
    background-image: url("/static/assets/images/turtle-swimming-birdseye.jpg");
    width: 100vw;
    margin: 0;
    height: auto;
    overflow: hidden;
    background-size:cover;
    background-position: center;
}


/* checkout */
.stripe-style-input {
    margin-bottom: 3px !important;
}

#card-errors {
    color: #dc3545;
}