/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: #FFFCF1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin:1em;
}

h2 {
    margin:1em;
    text-align: center;
}

h3 {
    margin:1em;
    text-align: center;
}

/* nav bar background colour */
.navbar {
    background-color: #5F9EA0 !important;
}

.nav-link {
    font-size: 1.5em;
}

.navbar-brand {
    padding-left: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    background-color: #5F9EA0;
    margin-top: auto;
    padding: 3rem !important;
}


/* footer email address background */
.form-control {
    background-color: transparent;
    border: black 1px solid;
}

.add-turtle-container {
    width:100%;
    background-color: #8FBC8F;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.add-turtle-form {
    padding: 1.5em;
    padding-bottom: 3em;
}

.add-turtle {
    padding: 10px;
}


.dashboard {
    border: black 2px solid;
    border-radius: 5px;
    margin-bottom: 2em;
    text-align: center;
}

#dashboard-background {
    background-image: url("/static/assets/images/turtle-swimming-birdseye.jpg");
    margin: 0;
    height: 550px;
    overflow: hidden;
    background-size:cover;
    background-position: center;
}

#dashboard-details {
    padding: 10px;
    margin: 40px;
    background: rgb(255, 252, 241, 0.6);
    border-radius: 10px;
}

.turtle-background {
    background-image: url("/static/assets/images/turtle-swimming-background.jpg");
    margin: 0;
    height: 800px;
    overflow: hidden;
    background-size:cover;
    background-position: center;
}

.turtle-background h1 {
    color: antiquewhite;
}

.turtle-background a {
    color: antiquewhite;
    text-transform: uppercase;
}

.turtle-background summary {
    color: antiquewhite;
    text-transform: uppercase;
}

.turtle-background p {
    color: antiquewhite;
    text-transform: uppercase;
}

.container-account {
    background: rgb(255, 252, 241, 0.2);
    height: 800px;
    padding: 3em 6em;
}

strong {
    text-transform: uppercase;
    font-weight: bolder;
}

.text-colour {
    color: antiquewhite;
}