{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Shopping basket</h1>
    <hr>
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <table class='table table-hover'>
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                    <tr>
                        <td>
                            <img class="img-fluid basket-image" src="{{ item.product.image.url }}">
                        </td>
                        <td>
                            <p><strong>{{ item.product.name }}</strong></p>
                        </td>
                        <td>
                            <p><strong>£{{ item.product.price }}</strong></p>
                        </td>
                        <td>
                            <p><strong>{% if item.product.has_sizes %}{{ item.size }}{% else %}N/A{% endif %}</strong></p>
                        </td>
                        <td>
                            <p><strong>{% if item.size %}{{ item.quantity }}{% else %}{{ item.quantity }}{% endif %}</strong></p>
                        </td>
                        <td>
                            <p><strong>{{ item.product.price }}</strong></p>
                        </td>
                        <td>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-center mt-3"><strong>{{ message }}</strong></p>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td colspan="7" class="pt-7 text-end">
                            <h5><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h5>
                            <h5><strong>Delivery Total: £{{ delivery|floatformat:2 }}</strong></h5>
                            <h5><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                        </td>
                    </tr>
                </table>
                <div class="mt-5 mb-5 text-end">
                    <a href="{% url 'merchandise' %}" class="btn btn-dark">Back to Merchandise</a>
                    <a href="{% url 'checkout' %}" class="btn btn-dark">Secure Checkout</a>
                </div>
                {% else %}
                    <div class="text-center">
                        <p>Your basket is empty.</p>
                        <a href="{% url 'merchandise' %}" class="btn btn-dark">Back to products</a>
                    </div>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}

{% block postloadjs %}

<!-- Javascript to handle remove button event on item -->
<script type="text/javascript">
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}